In [9]:
import pandas as pd
import numpy as np
from pandas import Series

#importing the dataset using pandas
df = pd.read_csv("./911.csv")
df.head(5)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [8]:
df.count()

lat          177755
lng          177755
desc         177755
zip          155957
title        177755
timeStamp    177755
twp          177694
addr         177755
e            177755
dtype: int64

In [3]:
#finds the rows with missing values
missingVal = df[df.isnull().any(axis=1)]
missingVal.count()

lat          21822
lng          21822
desc         21822
zip             24
title        21822
timeStamp    21822
twp          21761
addr         21822
e            21822
dtype: int64

In [4]:
missingVal.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1
10,40.231990,-75.251891,RT202 PKWY & KNAPP RD; MONTGOMERY; 2015-12-10 ...,NaN,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:33:50,MONTGOMERY,RT202 PKWY & KNAPP RD,1
14,40.097222,-75.376195,SCHUYLKILL EXPY & CROTON RD UNDERPASS; UPPER M...,NaN,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:09:49,UPPER MERION,SCHUYLKILL EXPY & CROTON RD UNDERPASS,1
23,40.143326,-75.422819,RT422 & PAWLINGS RD OVERPASS; LOWER PROVIDENC...,NaN,Traffic: DISABLED VEHICLE -,2015-12-10 18:00:38,LOWER PROVIDENCE,RT422 & PAWLINGS RD OVERPASS,1
24,40.153268,-75.189558,SUMMIT AVE & RT309 UNDERPASS; UPPER DUBLIN; 20...,NaN,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:58:22,UPPER DUBLIN,SUMMIT AVE & RT309 UNDERPASS,1

In [5]:
#unique zipcodes in the dataset
df.zip.unique()

array([ 19525.,  19446.,  19401.,     nan,  19044.,  19426.,  19438.,
        19462.,  19428.,  19040.,  19027.,  18936.,  18974.,  19031.,
        19403.,  19422.,  19085.,  18964.,  19038.,  19406.,  19468.,
        19010.,  19095.,  19464.,  19444.,  19041.,  19440.,  19405.,
        19002.,  19096.,  19454.,  19465.,  19004.,  19066.,  19072.,
        18041.,  19046.,  19090.,  19012.,  19025.,  19473.,  18073.,
        18969.,  18074.,  19460.,  19001.,  18054.,  19009.,  19006.,
        19035.,  19150.,  19075.,  19034.,  19151.,  19453.,  19003.,
        18914.,  19512.,  18976.,  19120.,  18915.,  18076.,  19477.,
        19087.,  18966.,  19131.,  19128.,  19083.,  19053.,  19475.,
        18960.,  19504.,  18070.,  19492.,  18932.,  19118.,  18092.,
        19490.,  19518.,  18056.,  19119.,  19107.,  17752.,  19111.,
        18927.,  19435.,  18951.,  19472.,  19503.,  19126.,  19505.,
        19423.,  19138.,  36107.,  18036.,  19116.,  19139.,  19129.,
        19115.,  19355.,  77316.,  19457.,  19082.,  19127.,  19443.,
        17555.,  19520.,  19063.,  19020.,  19404.])

In [6]:
s = Series(df.zip)
s.unique().size

110