In [32]:
import pandas as pd
import numpy as np
from pandas import Series

#importing the dataset using pandas
df = pd.read_csv("./911.csv")

#sample of original dataset
df.head(5)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [33]:
#separate timeStamp data into 2 new columns
df['date'] = df.timeStamp.str[0:11]
df['time'] = df.timeStamp.str[-8:]

#Get rid of dummy 'e' column and 'timeStamp' column
del df['e']
del df['timeStamp']
#If time at end, then try to extract station number and impute
del df['desc']

#sample of dataset
df.head(5)

,lat,lng,zip,title,twp,addr,date,time
0,40.297876,-75.581294,19525.0,EMS: BACK PAINS/INJURY,NEW HANOVER,REINDEER CT & DEAD END,2015-12-10,17:10:52
1,40.258061,-75.264680,19446.0,EMS: DIABETIC EMERGENCY,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,2015-12-10,17:29:21
2,40.121182,-75.351975,19401.0,Fire: GAS-ODOR/LEAK,NORRISTOWN,HAWS AVE,2015-12-10,14:39:21
3,40.116153,-75.343513,19401.0,EMS: CARDIAC EMERGENCY,NORRISTOWN,AIRY ST & SWEDE ST,2015-12-10,16:47:36
4,40.251492,-75.603350,NaN,EMS: DIZZINESS,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,2015-12-10,16:56:52

In [34]:
#Finds index of 'Station' in 'desc' column if it exists
#for i, row in df.iterrows():
    
    #Beginning index for station extraction
    #index1 = str.find(df['desc'][i],'Station')
    
    #Ending index for station extraction
    #index2 = str.find(df['desc'][i],';',index1)

In [35]:
#count number of values in each column
df.count()

lat      177755
lng      177755
zip      155957
title    177755
twp      177694
addr     177755
date     177755
time     177755
dtype: int64

In [36]:
#Finds total number of rows with missing values 
#Rows with more than one missing value only counted once
df.isnull().any(axis=1).sum()

21822

In [37]:
#Drop rows with missing values
df = df.dropna(subset=['zip', 'twp'])
df.count()

lat      155933
lng      155933
zip      155933
title    155933
twp      155933
addr     155933
date     155933
time     155933
dtype: int64

In [38]:
#unique zipcodes in the dataset
df.zip.unique()

array([ 19525.,  19446.,  19401.,  19044.,  19426.,  19438.,  19462.,
        19428.,  19040.,  19027.,  18936.,  18974.,  19031.,  19403.,
        19422.,  19085.,  18964.,  19038.,  19406.,  19468.,  19010.,
        19095.,  19464.,  19444.,  19041.,  19440.,  19405.,  19002.,
        19096.,  19454.,  19465.,  19004.,  19066.,  19072.,  18041.,
        19046.,  19090.,  19012.,  19025.,  19473.,  18073.,  18969.,
        18074.,  19460.,  19001.,  18054.,  19009.,  19006.,  19035.,
        19150.,  19075.,  19034.,  19151.,  19453.,  19003.,  18914.,
        19512.,  18976.,  19120.,  18915.,  18076.,  19477.,  19087.,
        18966.,  19131.,  19128.,  19083.,  19053.,  19475.,  18960.,
        19504.,  18070.,  19492.,  18932.,  19118.,  18092.,  19490.,
        19518.,  18056.,  19119.,  19107.,  19111.,  18927.,  19435.,
        18951.,  19472.,  19503.,  19126.,  19505.,  19423.,  19138.,
        36107.,  18036.,  19116.,  19139.,  19129.,  19115.,  19355.,
        77316.,  19457.,  19082.,  19127.,  19443.,  17555.,  19520.,
        19063.,  19020.,  19404.])

In [39]:
#find the number of unique zipcodes
s = Series(df.zip)
zip_unique = s.unique().size
print(zip_unique)

108

In [40]:
#unique townships in the dataset
df.twp.unique()

array(['NEW HANOVER', 'HATFIELD TOWNSHIP', 'NORRISTOWN', 'LANSDALE',
       'HORSHAM', 'SKIPPACK', 'LOWER SALFORD', 'PLYMOUTH',
       'UPPER MORELAND', 'CHELTENHAM', 'MONTGOMERY', 'WHITEMARSH',
       'UPPER GWYNEDD', 'LOWER PROVIDENCE', 'WHITPAIN', 'DELAWARE COUNTY',
       'FRANCONIA', 'WEST CONSHOHOCKEN', 'UPPER MERION', 'LIMERICK',
       'DOUGLASS', 'LOWER MERION', 'POTTSTOWN', 'BRIDGEPORT', 'TOWAMENCIN',
       'AMBLER', 'LOWER POTTSGROVE', 'CHESTER COUNTY', 'UPPER HANOVER',
       'SPRINGFIELD', 'ROCKLEDGE', 'ABINGTON', 'WEST NORRITON',
       'ROYERSFORD', 'UPPER DUBLIN', 'UPPER SALFORD', 'CONSHOHOCKEN',
       'PENNSBURG', 'TELFORD', 'EAST NORRITON', 'UPPER FREDERICK',
       'UPPER PROVIDENCE', 'SALFORD', 'LEHIGH COUNTY', 'MARLBOROUGH',
       'BRYN ATHYN', 'LOWER MORELAND', 'HATBORO', 'LOWER GWYNEDD',
       'WORCESTER', 'COLLEGEVILLE', 'SCHWENKSVILLE', 'SOUDERTON',
       'PERKIOMEN', 'LOWER FREDERICK', 'BUCKS COUNTY', 'RED HILL',
       'WEST POTTSGROVE', 'UPPER POTTSGROVE', 'EAST GREENVILLE',
       'NORTH WALES', 'JENKINTOWN', 'TRAPPE', 'NARBERTH', 'BERKS COUNTY',
       'GREEN LANE', 'PHILA COUNTY', 'HATFIELD BORO'], dtype=object)

In [41]:
#find the number of unique townships
s2 = Series(df.twp)
twp_unique = s2.unique().size
print(twp_unique)

68

In [42]:
#unique 911 call categories in the dataset
df.title.unique()

array(['EMS: BACK PAINS/INJURY', 'EMS: DIABETIC EMERGENCY',
       'Fire: GAS-ODOR/LEAK', 'EMS: CARDIAC EMERGENCY', 'EMS: HEAD INJURY',
       'EMS: NAUSEA/VOMITING', 'EMS: RESPIRATORY EMERGENCY',
       'EMS: SYNCOPAL EPISODE', 'Traffic: VEHICLE ACCIDENT -',
       'EMS: DIZZINESS', 'EMS: VEHICLE ACCIDENT',
       'Traffic: DISABLED VEHICLE -', 'Fire: APPLIANCE FIRE',
       'EMS: GENERAL WEAKNESS', 'Fire: CARBON MONOXIDE DETECTOR',
       'EMS: UNKNOWN MEDICAL EMERGENCY', 'EMS: UNRESPONSIVE SUBJECT',
       'Fire: VEHICLE ACCIDENT', 'EMS: CVA/STROKE', 'Fire: FIRE ALARM',
       'Traffic: ROAD OBSTRUCTION -', 'EMS: SUBJECT IN PAIN',
       'EMS: HEMORRHAGING', 'EMS: FALL VICTIM', 'EMS: ASSAULT VICTIM',
       'EMS: SEIZURES', 'EMS: MEDICAL ALERT ALARM', 'EMS: ABDOMINAL PAINS',
       'Fire: PUMP DETAIL', 'Fire: FIRE INVESTIGATION', 'EMS: OVERDOSE',
       'EMS: MATERNITY', 'EMS: UNCONSCIOUS SUBJECT', 'EMS: CHOKING',
       'EMS: LACERATIONS', 'Fire: TRASH/DUMPSTER FIRE',
       'Fire: UNKNOWN TYPE FIRE', 'Fire: BUILDING FIRE',
       'Fire: ELECTRICAL FIRE OUTSIDE', 'Fire: DEBRIS/FLUIDS ON HIGHWAY',
       'Traffic: DEBRIS/FLUIDS ON HIGHWAY -', 'EMS: FEVER',
       'EMS: ALLERGIC REACTION', 'EMS: FRACTURE', 'Fire: RESCUE - GENERAL',
       'Fire: WOODS/FIELD FIRE', 'EMS: RESCUE - GENERAL',
       'EMS: ALTERED MENTAL STATUS', 'Fire: FIRE SPECIAL SERVICE',
       'Fire: VEHICLE FIRE', 'Traffic: VEHICLE FIRE -',
       'EMS: WARRANT SERVICE', 'Fire: S/B AT HELICOPTER LANDING',
       'EMS: EMS SPECIAL SERVICE', 'Traffic: HAZARDOUS ROAD CONDITIONS -',
       'Fire: RESCUE - ELEVATOR', 'EMS: FIRE SPECIAL SERVICE',
       'EMS: DEHYDRATION', 'EMS: CARBON MONOXIDE DETECTOR',
       'EMS: BUILDING FIRE', 'EMS: APPLIANCE FIRE', 'EMS: SHOOTING',
       'EMS: POISONING', 'Fire: TRANSFERRED CALL',
       'Fire: RESCUE - TECHNICAL', 'EMS: RESCUE - TECHNICAL',
       'Fire: VEHICLE LEAKING FUEL', 'Traffic: VEHICLE LEAKING FUEL -',
       'EMS: EYE INJURY', 'EMS: ELECTROCUTION', 'Fire: FIRE POLICE NEEDED',
       'EMS: AMPUTATION', 'EMS: ANIMAL BITE', 'EMS: BURN VICTIM',
       'Fire: BURN VICTIM', 'EMS: FIRE ALARM', 'EMS: STABBING',
       'EMS: VEHICLE FIRE', 'EMS: HAZARDOUS MATERIALS INCIDENT',
       'EMS: RESCUE - ELEVATOR', 'EMS: FIRE INVESTIGATION',
       'Fire: MEDICAL ALERT ALARM', 'EMS: UNKNOWN TYPE FIRE',
       'EMS: GAS-ODOR/LEAK', 'Fire: TRAIN CRASH',
       'Fire: HAZARDOUS MATERIALS INCIDENT', 'EMS: TRAIN CRASH',
       'EMS: TRANSFERRED CALL', 'EMS: RESCUE - WATER',
       'EMS: S/B AT HELICOPTER LANDING', 'Fire: RESCUE - WATER',
       'EMS: CARDIAC ARREST', 'EMS: PLANE CRASH', 'Fire: PLANE CRASH',
       'EMS: WOODS/FIELD FIRE', 'Fire: CARDIAC ARREST',
       'Fire: EMS SPECIAL SERVICE', 'Fire: UNCONSCIOUS SUBJECT',
       'EMS: HEAT EXHAUSTION', 'EMS: ACTIVE SHOOTER',
       'Fire: DIABETIC EMERGENCY', 'EMS: BOMB DEVICE FOUND',
       'Fire: SYNCOPAL EPISODE', 'EMS: INDUSTRIAL ACCIDENT',
       'EMS: DROWNING', 'EMS: SUSPICIOUS', 'EMS: DEBRIS/FLUIDS ON HIGHWAY',
       'Fire: FALL VICTIM', 'EMS: ARMED SUBJECT',
       'Fire: CARDIAC EMERGENCY', 'EMS: STANDBY FOR ANOTHER CO',
       'EMS: ELECTRICAL FIRE OUTSIDE', 'Fire: UNRESPONSIVE SUBJECT',
       'EMS: HIT + RUN', 'EMS: SUICIDE THREAT', 'Fire: DISABLED VEHICLE',
       'Fire: ANIMAL COMPLAINT', 'Fire: STANDBY FOR ANOTHER CO',
       'EMS: FIRE POLICE NEEDED', 'Fire: PRISONER IN CUSTODY'], dtype=object)

In [43]:
#find the number of unique 911 call categories
s3 = Series(df.title)
s3.unique().size

120

In [44]:
#find the number of unique address locations
s4 = Series(df.addr)
s4.unique().size

25155

In [46]:
df.head(10)

,lat,lng,zip,title,twp,addr,date,time
0,40.297876,-75.581294,19525.0,EMS: BACK PAINS/INJURY,NEW HANOVER,REINDEER CT & DEAD END,2015-12-10,17:10:52
1,40.258061,-75.264680,19446.0,EMS: DIABETIC EMERGENCY,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,2015-12-10,17:29:21
2,40.121182,-75.351975,19401.0,Fire: GAS-ODOR/LEAK,NORRISTOWN,HAWS AVE,2015-12-10,14:39:21
3,40.116153,-75.343513,19401.0,EMS: CARDIAC EMERGENCY,NORRISTOWN,AIRY ST & SWEDE ST,2015-12-10,16:47:36
5,40.253473,-75.283245,19446.0,EMS: HEAD INJURY,LANSDALE,CANNON AVE & W 9TH ST,2015-12-10,15:39:04
6,40.182111,-75.127795,19044.0,EMS: NAUSEA/VOMITING,HORSHAM,LAUREL AVE & OAKDALE AVE,2015-12-10,16:46:48
7,40.217286,-75.405182,19426.0,EMS: RESPIRATORY EMERGENCY,SKIPPACK,COLLEGEVILLE RD & LYWISKI RD,2015-12-10,16:17:05
8,40.289027,-75.399590,19438.0,EMS: SYNCOPAL EPISODE,LOWER SALFORD,MAIN ST & OLD SUMNEYTOWN PIKE,2015-12-10,16:51:42
9,40.102398,-75.291458,19462.0,Traffic: VEHICLE ACCIDENT -,PLYMOUTH,BLUEROUTE & RAMP I476 NB TO CHEMICAL RD,2015-12-10,17:35:41
11,40.084161,-75.308386,19428.0,Traffic: VEHICLE ACCIDENT -,PLYMOUTH,BROOK RD & COLWELL LN,2015-12-10,16:32:10